<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test  name="Test">
    <classes>

      <class name="com.unicommerce.test.GetItemTypeDetail"/>
      <class name="com.unicommerce.test.CreateSaleOrder"/>
      <class name="com.unicommerce.test.GetSaleOrder"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
